/* Header */
.jumbotron {
    text-align: center;
    padding: 1.5rem;
}

.container {
    margin: auto;
}

/* Searched cities stack up on left */
.city-results-tile {
    border: 1px solid black;
    width: 90%;
    text-align: center;
}

/* Current weather card */
#current-weather {
    height: 300px;
}

/* 5 day forecast cards */
.forecast {
    width: 105px;
    height: 150px;
    border: 1px solid black;
    float: left;
    margin-right: 15px;
}

.forecast-icon {
    /* align-items: center; */
    width: 2.5rem;
    height: 2.5rem;
}