.jumbotron {
    text-align: center;
    padding: 1.5rem;
}

.city-results-tile {
    border: 1px solid black;
    width: 90%;
    text-align: center;
}

#current-weather {
    height: 300px;
}

.forecast {
    width: 100px;
    height: 150px;
    border: 1px solid black;
    float: left;
    margin-right: 10px;
}